/*limpiar cascada*/
html, body{font-family:Comic Sans MS, Helvetica, Cambria; width:100%; height:100%;}
*{margin:0; padding:0; border:0;}
@media(min-width:1024px){html{width:100%; display:grid; place-items:center;} body{width:1024px;}}
#liitem, #barMenuItem{list-style:none;}
/*Libreria (uso por class)*/
.verde3{background-color:rgb(18, 92, 41);}
.verde2{background-color:rgb(19, 138, 39);}
.verde1{background-color:rgb(206, 252, 208);}
.verde{background-color:rgb(210, 219, 200);}
.cafe{background-color:rgb(244, 223, 192);}
.cafe1{background-color:rgb(235, 187, 149);}
.cafe2{background-color:rgb(175, 51, 0);}
.cafe3{background-color:rgb(191, 133, 96);}
.blanco{background-color:#fff;}
.black{background-color:#000;}

.ftverde3{color:rgb(18, 92, 41);}
.ftverde2{color:rgb(19, 138, 39);}
.ftverde1{color:rgb(206, 252, 208);}
.ftverde{color:rgb(210, 219, 200);}
.ftcafe{color:rgb(244, 223, 192);}
.ftcafe1{color:rgb(235, 187, 149);}
.ftcafe2{color:rgb(175, 51, 0);}
.ftcafe3{color:rgb(191, 133, 96);}
.ftblanco{color:#fff;}
.ftblack{color:#000;}

.cleara{text-decoration:none;}
.centerTxt{text-align:center;}
.border{border-radius:25px;}
.border5{border-radius:5px;}
.ocultar{display:none;}


.padding25bottom{padding-bottom:25px;}
.padding25top{padding-top:25px;}
.padding25left{padding-left:25px;}
.margin5top{margin-top:5px;}
.margin25top{margin-top:25px;}

.padding40top{padding-top:40px;}
.padding100bottom{padding-bottom:100px;}

.padding10{padding:10%;}
.padding5{padding:5%;}
.padding3{padding:3%;}
.margin2{margin:2%;}
.margin5{margin:5%;}
.margin10{margin:10%;}
.width{width:100%;}
.width80{width:80%;}
.width60{width:60%;}
.width40{width:40%;}
.width10{width:10%;}

.hoververde:hover{background-color:rgb(191, 133, 96); color:rgb(19, 138, 39);}
.hovercafe:hover{background-color:rgb(); color:rgb(175, 51, 0);}
.rotar{transform: rotate(90deg); padding:5px;}
.paddingcenter{padding-left:10%; padding-right:10%; padding-top:60px; padding-bottom:50px;}
.bordebotom{border:1px solid rgb();}
.grid{display:grid; place-items:center;}
/*Estructura*/
/*barra*/
.barMenuItemB{padding:8px; border-radius:5px;}
#bar{position:absolute; height:50px; width:100%; display:grid; place-items:center;}
#barCenter{width:95%; height:75%;}
#barMenu{display:none; float: right;}
#btMenu{float:right;}
#logo, #btMenu{display: inline-block; }
#barMenuItem{display:inline; float:right; padding:10px;}
@media(max-width:369px){#logo{font-size:120%; padding:5px;}}
@media(min-width:1024px){#bar{width:1024px;} #btMenu{display:none;} #barMenu{display:block;}}
/*menu*/
/*funcion menu*/
#funcionMenu{display:none;}
#nav{display:none;  position:absolute; z-index:1;}
.inputfuncion:checked + #nav{display:block;}
/*ventana*/
#nav{width:100%; height:2000px; background-color:rgba(235, 188, 149, 0.349);}
#ventana1{display:inline-block; width:50%;}
#ventana2{float:right; width:50%; display:grid; place-items:center;  background-color:rgba(9, 32, 16, 0.904)}
#ventanaUl{width:90%; height:2000px;}
#ventanaClosed{width:100%; height:2000px; color:rgba(0, 0, 0, 0);}
#liitem{padding-bottom:25px;}
#btnClosed{padding-top:6px; float:right;}



/*art1 and Hero*/
#art1img2{transform: rotate(6deg)}
#art1img{width:90%; transform: rotate(-6deg)}
#art1botomsize{width:40%;}
@media(min-width:700px){
   #art1img{float:right; width:40%;}
   #art1txt{display:inline-block; width:38%;}
   #art1botomsize{width:60%;}
}
@media(min-width:900px){
   #art1img{width:30%;}
   #art1txt{width:45%;}
}







/*art9*//*conectar*/
#art9{height:600px;}






/*art14*//*conectar*/
#art14img2{transform: rotate(6deg)}
#art14img1{width:70%; transform: rotate(-6deg)}
@media(min-width:700px){
   #art14img{float:right; width:40%;}
   #art14txt{display:inline-block; width:38%;}
   #art14img1{width:100%;}
}
@media(min-width:900px){
   #art1img{width:30%;}
   #art1txt{width:45%;}
}
/*footer*//*terminos y autor*/
#footer{width:100%; display:grid; place-items:center;}
#footerCenter{width:80%;}

